/* Kudos and credit to https://kovart.github.io/dashed-border-generator/ for their 'border' generator */

.App {
  text-align: center;
}

.playlistTitle {
  font-size: 9vw;
  margin: 45px 10px 100px 40px;
}

.PLdots {
  margin: 33px 0 0 0;
  position: absolute;
  right: 7vw;
}

.songRows {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 2% 10%;
}

.rowSongName {
  display: flex;
  font-size: 6vw;
  margin: 3px 0 3px 20px;
  justify-content: left;
  padding: 0 0 0 0;
}

.rowSongImg {
  height: 7vw;
  width: 7vw;
}

.playlistRow {
  display: flex;
  flex-direction: row;
}

.dots {
  position: absolute;
  right: 8vw;
}

.username {
  font-size: 4vw;
  text-align: right;
  margin: 25px 30px 18px 15px;
}

.homepage {
  height: 4vw;
  width: 4vw;
  position: absolute;
  left: 35px;
}

.newPlaylistTitle {
  font-size: 5vh;
  margin: 5px 5px 12px 5px;
}

.cyop {
  height: 13vw;
  width: 13vw;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='4' stroke-dasharray='20%2c 30' stroke-dashoffset='11' stroke-linecap='round'/%3e%3c/svg%3e");
  margin: 25px;
  padding: 4.4vw 3.5vw 1.6vw 3.5vw;
  font-size: 3.1vw;
}

.homePLimg {
  height: 10vw;
  width: 15vw;
  text-align: center;
  margin: 4vw 4vw 0 4vw;
  padding: 5vw 2vw 0 2vw;
  border: 2px solid white;
}

.homeList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1vw;
  padding: 15px;
  font-size: 3vw;
}

.homeName {
  font-size: 3.3vw;
  padding: 1vw 0 0 0;
}

.playlistsSecName {
  text-align: left;
  padding: 4vw 0 0 6vw;
  font-size: 6vw;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

input {
  background: none;
  outline: 0;
  border: 0;
  border-bottom: 2px solid gray;
}

.menu {
  text-align: left;
  font-size: 2.5vw;
}

.PLmenuTitle {
  font-size: 4.5vw;
}

.SMname {
  font-size: 4.5vw;
  margin: 0 0 16px 0;
}

.profileName {
  font-size: 4.5vw;
}

.proPLname {
  font-size: 2.8vw;
  text-align: left;
  min-height: 60px;
}

.signout {
  text-align: right;
}

.newPlaylistBtn {
  border-radius: 6px;
  background-color: blue;
  color: white;
  font-size: 2.8vw;
  padding: 4px 6px;
}

.newPlaylist {
  margin: 0 25px 0 0;
}
